stages:
  - lint
  - build
  - test
  - deploy-and-test

include:
  - local: 'gcp-with-auth.gitlab-ci.yml'

api:jar:
  stage: build
  image: eclipse-temurin:17-jdk
  before_script:
    - chmod +x gradlew
  script:
    - ./gradlew clean build
  artifacts:
    paths:
      - build/libs/*.jar

api:docker:image:
  variables:
    GITLAB_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  image: docker:24.0.5-cli
  stage: build
  needs:
    - api:jar
  services:
    - docker:24.0.5-dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $GITLAB_IMAGE .
    - docker push $GITLAB_IMAGE

manual:full:3h:
  extends: .gcp-wif-auth
  when: manual
  stage: deploy-and-test
  script: echo "Deploying the application to 3h cluster"

cleanup:images:
  stage: .post
  script: echo "Cleaning up..."
