stages:
  - lint
  - build
  - test
  - deploy-and-test

prepare:
  stage: .pre
  script: echo "Preparing..."

dependencies:
  stage: lint
  needs: []
  script: echo "Checking dependencies for the project"

java:
  stage: lint
  needs: []
  script: echo "Checking java checkstyle"

migrations:
  stage: lint
  needs: []
  script: echo "Checking SQL migrations"

terraform:
  stage: lint
  needs: []
  script: echo "Checking Terraform files"

jar:
  stage: build
  needs: []
  script:
    - echo "Building JAR with no tests"

test:
  stage: test
  needs: []
  script:
    - echo "Testing the application"


e2e:
  stage: deploy-and-test
  needs: []
  script:
    - echo "Deploy and test the application"


full:3h:
  when: manual
  stage: deploy-and-test
  script: echo "Deploying the application to 3h cluster"

cleanup:images:
  stage: .post
  script: echo "Cleaning up..."
